@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .platformcarddesctext {
    @apply text-black text-[32px] leading-[120%] tracking-[-.04em]
  }

  .careerhowcardheading {
    @apply t809:text-[24px] b12t14:text-[40px] text-[44px] font-mystenwalteraltebold b12t14:leading-[100%] font-normal b12t14:tracking-[-.03em] text-[#000]
  }

  .careerhowcarddesc {
    @apply t809:text-[18px] text-[24px] b12t14:leading-[100%] font-mystenWalteralteregular font-normal b12t14:tracking-[-.03em] text-[#000]
  }

  .platformcardmaintext {
    @apply text-[85px] text-black leading-[.9em] tracking-[-.04em]
  }

  .animtextparent {
    @apply border-[1.5px] border-[rgb(245_0_50)] hover:bg-[rgb(245_0_50)] border-solid bg-black flex place-content-center items-center cursor-pointer [flex-flow:row] gap-[10px] h-[40px] overflow-visible px-[14px] py-[12px] relative no-underline w-min opacity-100 rounded-[8px]
  }

  .animtext {
    @apply text-[18px] font-normal tracking-[-.01em] leading-[90%] text-white
  }

  .productsbg {
    background-image: url("/productsbg.svg");
  }

  .sectiontitle {
    @apply b81t1199:text-[16px] text-[24px] font-normal tracking-[.02em] leading-[120%] uppercase text-[#f50032]
  }

  .sectiondesc {
    @apply t809:text-[24px] b81t1199:text-[32px] b12t14:text-[50px] text-[55px] font-normal tracking-[-.04em] leading-[1em] text-black
  }

  .latestcardtitle {
    @apply t1199:text-[21px] text-[26px] font-normal tracking-[-.03em] leading-[100%] text-black group-hover:text-[#f50032]
  }

  .prodductscarddesc {
    @apply text-[16px] t809:text-[20px] tracking-[-.04em] leading-[120%] text-black font-mystenWalteralteregular
  }

  .latestcarddate {
    @apply text-[16px] font-normal tracking-[-.03em] leading-[90%] text-black
  }

  .footerlinktext {
    @apply text-[24px] font-normal tracking-[-.03em] leading-[110%] text-black hover:text-white
  }

  .interviwescardtitle {
    @apply t1199:text-[32px] b12t14:text-[26px] text-[32px] font-normal font-mystenwalteraltebold tracking-[-.03em] leading-[110%] text-black
  }


  .interviwescarddesc {
    @apply text-[18px] font-normal tracking-[-.03em] font-mystenWalteralteregular leading-[1.2em] text-black
  }

  .careeraccordianque {
    @apply t809:text-[20px] b81t1199:text-[24px] text-[18px] font-normal tracking-[-.03em] font-mystenwalteraltebold leading-[1.2em] text-black
  }

  .careeraccordiandesc {
    @apply text-[18px] font-normal tracking-[-.03em] font-mystenWalteralteregular leading-[1.2em] text-black
  }

  .careerteamintercard {
    @apply items-start flex t809:flex-none t809:w-full b81t1199:items-start b81t1199:h-full b81t1199:justify-start b81t1199:w-full flex-[1_0_0px] [flex-flow:column] gap-[16px] h-min overflow-visible p-0 relative w-px opacity-100
  }

  .aboutfoundername {
    @apply text-[32px] tracking-[-.04em] leading-[120%] text-black group-hover:text-[#f50032]
  }

  .aboutfounderdesig {
    @apply text-black tracking-[-.03em] leading-[90%] text-[16px] group-hover:text-[#f50032]
  }

  /* .intervieewcardlink {
    @apply text-[18px] font-normal tracking-[-.03em] leading-[1.2em] text-[#f50032]
  } */
}